h1, h2, h3 {
  font-family: Courier, monospace;
}

h4, h5, p, li, div {
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 767px) {
  .text-center-sm {
    text-align: center !important;
  }
}

.flex-row {
  display: flex;
  justify-content: center;
}

.skill-column-container {
  display: flex;
  @media (max-width: 992px) {
    display: none;
  }
}

.skill-row-container {
  display: none;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}

.skill-column-container:hover .skill-column,
.skill-row-container:hover .skill-row {
  opacity: 0.5;
  transition-duration: 0.5s;
  
}
.skill-column-container .skill-column:hover,
.skill-row-container .skill-row:hover {
  opacity: 1;
  transition-duration: 0.5s;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75)
}

.skill-column {
  transition-duration: 0.5s;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background-color: #515151;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  padding: 20px 0;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.skill-row {
  transition-duration: 0.5s;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background-color: #515151;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 10px 30px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: 0;
  }
}

#bar-1 {
  background-color: #515151;
  background-position: bottom;
}

#bar-2 {
  background-color: #656565;
  vertical-align: bottom;
}

#bar-3 {
  background-color: #727272;
}

#bar-4 {
  background-color: #7e7e7e;
}

#bar-5 {
  background-color: #8d8d8d;
}

#bar-6 {
  background-color: #9f9f9f;
}

#bar-7 {
  background-color: #b2b2b2;
}

#resumeButton {
  margin-top: 70px;
  font-size: 35px;
  width: 250px;
  height: 75px;
  border-radius: 15px;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    -webkit-box-shadow: 3px 3px 42px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 42px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 42px 1px rgba(0,0,0,0.75);
  }
  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

#tab {
  padding-left: 100px;
}

.spaceleft {
  padding-left: 10px;
}

#left-border {
  border-left: 2px solid white;
  margin-bottom: 40px;
}

#full-border {
  border-top: 2px solid white;
}

.title-page-container {
  padding: 250px 0 50px;
  @media (max-width: 767px) {
    padding-top: 200px;
  }
}

.down-gif {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

#titlepage {
  min-height: 1000px;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 2000px 1100px;
  background-position: top;
  background-attachment: fixed;
}

#aboutMePage {
  /*background-image: url("/assets/images/background2.jpg");*/
  position: relative;
  top: -4px;
  background-color: #e3e3e3;
  text-decoration-color: grey;
}

#education-interests-achievements {
  background-color: #e3e3e3;
  padding: 50px 0;
  text-decoration-color: grey;
}

.title-description-sm {
  justify-content: center;
  margin: 10px 0;
}

#projectsPage {
  /*background-color: #2b2323;*/
  background-image: url("/assets/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: 2500px 1875px;
  background-position: top;
  background-attachment: fixed;
}

#spacing {
  padding-left: 20px;
  margin-top: 5px;
}

#shift-left {
  float: left !important;
}

#shift-right {
  float: right !important;
}
.project-row-space {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-col-center {

  display: flex;
  width: 30%;
  @media (max-width: 992px) {
    width: 48%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.project-container {

  box-shadow: 1px 1px 10px 1px rgba(29, 29, 29, 0.75);
  border-radius: 20px;
  transition-duration: 0.5s;
  margin: 20px 0 40px;
  width: 100%;
  

  &:hover {
    box-shadow: 3px 3px 30px 3px rgba(255, 255, 255, 0.75);
  }

  p {
    margin-bottom: 0;
  }

  .project-image {
    height: 150px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .project-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #e3e3e3;
    min-height: 300px;
    padding: 20px;
    height: 71%;

    .proj-title {
      overflow-wrap: break-word;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
    }

    .proj-languages {
      font-size: 16px;
      font-style: italic;
      color: rgb(0, 117, 196);
    }

    .proj-prgh {
      color: #515151;
    }

    .proj-icon-container {
      transition-duration: 0.5s;
      margin-bottom: 0;
      img {
        width: 30px;
        height: 30px;
      }
      img:hover {
        transition-duration: 0.5s;
        opacity: 0.5;
      }
    }

  }
}

#FoodEye {
  background-image: url("/assets/images/foodeyelogo.png");
  margin-left: 50px;
  margin-right: 50px;
  background-position: left;
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 1;
  transition-duration: 1s;
}

#ChromeExtensionTimer {
  background-image: url("/assets/images/chromeExtensionPhoto.png");
  margin-left: 50px;
  margin-right: 50px;
  background-position: left;
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 1;
  transition-duration: 1s;
}

#physicsLearner {
  background-image: url("/assets/images/physicsproject.jpg");
  margin-left: 50px;
  margin-right: 50px;
  background-position: left;
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 1;
  transition-duration: 1s;
}

#memeTexter {
  background-image: url("/assets/images/memetexter.png");
  margin-left: 50px;
  margin-right: 50px;
  background-position: left;
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 1;
  transition-duration: 1s;
}

#checkers {
  background-image: url("/assets/images/checkersproject.jpg");
  margin-left: 50px;
  margin-right: 50px;
  background-position: left;
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 1;
  transition-duration: 1s;
}

#carracer {
  background-image: url("/assets/images/carracerproject.jpg");
  margin-left: 50px;
  margin-right: 50px;
  background-position: left;
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 1;
  transition-duration: 1s;
}

#physicsLearner:hover,
#checkers:hover,
#carracer:hover,
#memeTexter:hover,
#FoodEye:hover,
#ChromeExtensionTimer:hover {
  opacity: 0.5;
  background-size: 170%;
  transition-duration: 1s;
}

.quotes {
  h3 {
    margin: 0;
  }
}

#educationSquare, 
#interestsSquare,
#achievementsSquare {
  border-radius: 10px;
  margin: 10px;

  .hover-square {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
  transition-duration: 0.5s;
  min-height: 450px;

  &:hover {
    opacity: 0.75;
    #educationTitle,
    #interestsTitle,
    #achievementsTitle {
      transition: opacity 0.5s ease-out;
      height: 0;
      width: 0;
      opacity: 0;
      overflow: hidden;
    }

    #educationText,
    #achievementsText,
    #interestsText {
      text-align: center;
      transition: opacity 0.5s ease-in;
      opacity: 1;
      height: auto;
      width: auto;
      overflow: hidden;
      padding: 0 20px;
    } 
  }

  #educationTitle,
  #interestsTitle,
  #achievementsTitle {
    font-size: 40px;
    transition: opacity 0.5s ease-in;
    opacity: 1;
    height: auto;
    width: auto;
  }

  #educationText,
  #achievementsText,
  #interestsText {
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    transition: opacity 0.5s ease-out;
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

}

#educationSquare {
  background-image: url("/assets/images/educationbackground.jpg");
}

#interestsSquare {
  background-image: url("/assets/images/interestsbackground.png");
}

#achievementsSquare {
  background-image: url("/assets/images/achievementsbackground.jpg");
  background-position: top;
}

h1.titlefont {
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 120px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  @media (max-width: 767px) {
    span {
      font-size: 80px;
    }
  }
}

h1.title2font {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 300%;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

img.animated-gif {
  width: 120px;
  height: auto;
  transition-duration: 0.5s;
  &:hover {
    opacity: 0.4;
    transition-duration: 0.5s;
  }
}

img.img-profile {
  border-radius: 50%;
}

img.img-profile:hover {
  width: 210px;
  height: auto;
  transition-duration: 1s;
}

#iconleft {
  margin-right: 50px;
}

#iconright {
  margin-left: 50px;
}

img.smicon {
  width: 60px;
  height: auto;
  margin: 20px;
  margin-top: 40px;
}

.smicon-container {
  a:hover {
    text-decoration: none; 
  }
}

img.smicon:hover {
  width: 60px;
  height: auto;
  opacity: 0.4;
  transition-duration: 0.4s;
}

img.mdicon {
  width: 75px;
}

img.mdicon:hover {
  width: 75px;
  opacity: 0.4;
  transition-duration: 0.4s;
}

.description-square {
  max-width: 500px;
  width: 30%;
  @media (max-width: 992px) {
    width: 80%;
  }
}

.typewriter {
  font-family: Courier, monospace;
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  max-width: 740px;
  letter-spacing: 2px;
  animation: typing 5s steps(35, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-family: Courier, monospace;
  border-right: 4px solid white;
  box-sizing: border-box;
}

.width-md {
  @media (max-width: 768px) {
    display: none;
  }
}
.width-sm {
  @media (min-width: 767px) {
    display: none;
  }
}


@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: white; 
  }
}

//Pressed Animation

.marker, .r, .e1, .s1, .s2, .e2 {
  animation-timing-function: cubic-bezier(0.15,-0.01, 0.58, 1);
  animation-duration: 8s;
  animation-iteration-count: infinite;
  will-change: transform;
}

.marker {
  position: absolute;     
  top: 10rem;
  height: 0.5rem;
  width: 30rem;
  left: 14rem;
  @media (max-width: 1200px) {
    left: 8rem;
  }
  @media (max-width: 992px) {
    display: none;
  }
  background-color: white;
  animation-name: marker;
}

.first-name { animation-name: first-name; }
.last-name { animation-name: last-name; }

@keyframes marker { 
  0%, 25% { transform: translateX(0); width: 30rem;}
  25%, 60% {width: 10rem;}
  25%, 60% { transform: translateX(34rem); }
  75%, 100% {transform: translateX(0); width: 30rem;}
}